<!DOCTYPE html>

<html class="no-js">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User profile</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

    <div id="profile">
        <profile-form :user="user"></profile-form>
    </div>

    <script src="js/vue.js"></script>
    <script>
        const commonField = {
            template: `<div class="form-group col-md-12">
    <label class="col-md-2 control-label" :for="id">{{placeholder}}</label>
    <div class="col-md-4">
        <input ref="input" :type="type" class="form-control input-md" :id="id" :value="value" @input="updateValue($event.target.value)" :placeholder="placeholder" />
        </div>
    </div>`,
            props: {
                type: String,
                placeholder: String,
                id: String,
                value: {
                    type: [Number, String],
                    required: true
                }
            },
            methods: {
                updateValue: function(value) {
                    this.$emit('input', value);
                }
            }
        };

        const profileForm = {
            template: `<div><div class="form-group col-md-12">
            <label class="col-md-2 control-label" for="accessLevel">Role</label>
            <div class="col-md-4">
                <select class="form-control" id="accessLevel" v-model="user.accessLevel">
                                <option disabled value="">Choose role</option>
                                <option v-for="option in roles" :value="option.value" :key="option.value">
                                        {{ option.text }}
                                      </option>
                          </select>
            </div>
        </div>
        <common-field type="text" id="firstName" placeholder="Name" v-model="user.firstName"></common-field>
        <common-field type="text" id="lastName" placeholder="Surname" v-model="user.lastName"></common-field>
        <common-field type="text" id="picture" placeholder="Picture" v-model="user.picture"></common-field>
        <div class="form-group col-md-12" v-if="imagePath">
            <div class="col-md-offset-2 col-md-10">
                <img :src="imagePath" alt="picture" />
            </div>
        </div>
        <common-field type="number" id="age" placeholder="Age" v-model.number="user.age"></common-field>
        <common-field type="text" id="company" placeholder="Company" v-model="user.company"></common-field>
        <common-field type="text" id="balance" placeholder="Balance" v-model="user.balance"></common-field>
        <common-field type="email" id="email" placeholder="Email" v-model="user.email"></common-field>
        <common-field type="tel" id="phone" placeholder="Phone" v-model="user.phone"></common-field>
        <common-field type="text" id="address" placeholder="Address" v-model="user.address"></common-field>
        <div class="form-group col-md-12">
            <label class="col-md-2 control-label">Is Active</label>
            <div class="col-md-4">
                <label class="checkbox-inline" for="isActive">
                            <input  type="checkbox" id="isActive" v-model="user.isActive">
                            {{user.isActive}}
                          </label>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label class="col-md-2 control-label" for="about">About</label>
            <div class="col-md-4">
                <textarea class="form-control" id="about" v-model="user.about" rows="5"></textarea>
            </div>
        </div>
        <common-field type="text" id="registered" placeholder="Registered" v-model="user.registered"></common-field>
        <div class="form-group col-md-12">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-primary" @click="saveUser">Save</button>
            </div>
        </div>

        <pre>{{user}}</pre></div>`,
            props: {
                user: {
                    type: Object,
                    required: true
                }
            },
            components: {
                'common-field': commonField
            },
            data() {
                return {
                    roles: [{
                        text: 'admin',
                        value: 'admin'
                    }, {
                        text: 'user',
                        value: 'user'
                    }]

                }
            },
            computed: {
                imagePath() {
                    return this.user.picture;
                }
            },
            methods: {
                saveUser() {
                    console.log('saved');
                }
            },
        };

        const fixtures = {
            "id": 0,
            "isActive": false,
            "balance": "$1,913.57",
            "picture": "http://i.imgur.com/xmm2bjD.png",
            "age": 32,
            "accessLevel": "user",
            "firstName": "Mabel",
            "lastName": "Miranda",
            "company": "LIQUIDOC",
            "email": "mabel.miranda@liquidoc.biz",
            "phone": "+7 (971) 535-2903",
            "address": "540 Stuyvesant Avenue, Ivanhoe, Arizona, 1682",
            "about": "Enim qui dolor aute elit reprehenderit consectetur proident. Occaecat cupidatat sunt elit qui ullamco Lorem deserunt. Consectetur eiusmod reprehenderit eiusmod duis excepteur laborum voluptate do.",
            "registered": "16.04.2016"
        };




        var profile = new Vue({
            el: '#profile',
            components: {
                'profile-form': profileForm
            },
            data() {
                return {
                    user: {
                        "id": null,
                        "isActive": false,
                        "balance": "",
                        "picture": "",
                        "age": null,
                        "accessLevel": "",
                        "firstName": "",
                        "lastName": "",
                        "company": "",
                        "email": "",
                        "phone": "",
                        "address": "",
                        "about": "",
                        "registered": ""
                    }
                }
            },
            mounted: function() {
                this.user = fixtures;
            }
        });
    </script>
</body>

</html>